* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container > div {
    width: 100px;
    height: 100px;
    color: #000;
    font-size: 2rem;
    background-color: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    
}

.item1 {
    align-self: flex-start;
}

.item2 {
    align-self: flex-end;
}

.item3 {
    align-self: flex-start;
}

.item4 {
    align-self: flex-end;
}

.item5 {
    align-self: flex-start;
}

.item6 {
    align-self: flex-end;
}