/*
FONT_FAMILY

font-family: 'Libre Franklin', sans-serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Tenor Sans', sans;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.articles_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.articles_card {
	width: 387px;
}

.article_category {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #999999;
	margin-bottom: 18px;
}

.article_img {
	margin-bottom: 24px;
}

.article_cut_text {
	font-family: 'Tenor Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 15px;
}

.article_author {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #000000;
}
