/*
FONT_FAMILY

font-family: 'Libre Franklin', sans-serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Tenor Sans', sans;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

/*
.header {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 60px;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu li {
    list-style: none;
}

*/


.container > div {
    width: 100px;
    height: 100px;
    color: #000;
    font-size: 2rem;
    background-color: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    flex-basis: 120px;
}

.item {
    flex-shrink: 0;
}

.item1 {
    flex-shrink: 4;
}
